<div id="header-inner" class="nav-container">
    <a id="main-nav-toggle" class="nav-icon fa fa-bars"></a>
    <div class="nav-container-inner">
        <ul id="main-nav">
            <% Object.keys(theme.menu).forEach(function(key) { %>
                <% if(theme.menu[key].categories) { %>
                    <%- list_categories({ depth: 2,
                                  style: 'list',
                                  class: 'main-nav',
                                  show_count: false,
                                }) %>
                        <% } else { %>
                            <li class="main-nav-list-item">
                                <a href="<%- theme.menu[key].url %>" class="main-nav-list-link">
                                    <% if (theme.menu[key].icon && theme.menu[key].icon.length > 0) { %>
                                        <i class="fa <%- theme.menu[key].icon %>"></i>
                                        <% } %>
                                            <span><%- key %></span>
                                </a>
                            </li>
                            <% }}); %>
        </ul>
        <nav id="sub-nav">
            <li>
                <a href="#searchModal" class="modal-trigger waves-effect waves-light">
                            <i id="searchIcon" class="fa fa-search" title="<%= __('search') %>"></i>
                        </a>
            </li>
        </nav>
    </div>
</div>


<%- partial('_partial/mobile-nav') %>