<a href="#" data-target="mobile-nav" class="sidenav-trigger button-collapse"><i class="fa fa-navicon"></i></a>
<!-- Dropdown Structure -->
<ul id='about' class='dropdown-content'>
    <li><a href="/nyikani-mavoko/">Who we are</a></li>
    <li><a href="/Mangundze-Mission-History/">Our story</a></li>
    <li><a href="/Our-Work/">What we do</a></li>
    <li><a href="/Where/">Where we are</a></li>
</ul>

<div class="right">
    <ul class="left">
        <% Object.keys(config.menu).forEach(function(key) { %>
            <% if(config.menu[key].dropdownMenuId) { %>

                <!-- Dropdown Trigger -->
                <li class="hide-on-med-and-down">
                    <a class="dropdown-trigger" href="#" data-target="<%- config.menu[key].dropdownMenuId %>">
                        <span><%- key %></span>
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <% } else { %>
                    <li class="hide-on-med-and-down">
                        <a href="<%- config.menu[key].url %>" class="waves-effect waves-light">
                            <% if (config.menu[key].icon && config.menu[key].icon.length > 0) { %>
                                <i class="fa <%- config.menu[key].icon %>"></i>
                                <% } %>
                                    <span><%- key %></span>
                        </a>
                    </li>
                    <% }   
        }
        ); %>
                        <li>
                            <a href="#searchModal" class="modal-trigger waves-effect waves-light">
                            <i id="searchIcon" class="fa fa-search" title="<%= __('search') %>"></i>
                        </a>
                        </li>

    </ul>
</div>
<%- partial('_partial/mobile-nav') %>